<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4"></div>

	<div class="card border-primary text-center">
		<div class="card-header">Inicio de sesión</div>
		<div class="card-body">
			<form th:action="@{/login}" method="post">
				<div class="form-group col-sm-6">
					<input class="form-control" type="text" name="username" id="username" placeholder="Usuario" required="required" autofocus="autofocus" />
				</div>
				
				<div class="form-group col-sm-6">
					<input class="form-control" type="password" name="password" id="password" placeholder="Contraseña" required="required" />
				</div>
				
				<div class="form-group col-sm-6">
					<input class="btn btn-large btn-primary btn-block" type="submit" value="Sign In"/>
				</div>

			</form>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>